body {
    font-family: Arial, sans-serif;
    background-color: #f1f8fc;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
}

footer {
    margin-top: auto;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: auto;
    flex-grow: 1;
}

h2 {
    color: #004080;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: bold;
}

.comentario-box {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario-box button {
    background-color: #d9534f;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comentario-box button:hover {
    background-color: #c9302c;
}
